.logo {
  font-size: 30px;
  font-weight: bold;
}
.span {
  color: rgb(182, 100, 7);
}

.active {
  color: rgb(182, 100, 7);
  font-weight: 600;
}

@media (max-width: 776px) {
  .logo {
    font-size: 20px;
  }
  .Mobile {
    z-index: 40;
    background-color: black;
    width: 300px;
    padding: 50px 30px;
    border-radius: 1rem;
    position: absolute;
    right: 2rem;
    top: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
